#box_named_page {
	margin: 10px;
	color:white;
	font-size:15px;
}

.PreferencesGroup {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.uninstall {
	background-color: #aa1111;
	color:white;
}

.uninstall:hover {
	background-color: #711;
	color:white;
}

.install {
	background-color: #11aa11;
	color:white;
}

.install:hover {
	background-color: #171;
	color:white;
}
